body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.product {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    overflow: auto; /* Asegura que todo el contenido del producto sea visible */
}

.product:hover {
    transform: scale(1.02); /* Reduce la ampliación para evitar que los productos se salgan de la página */
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
}

.product p {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

.product p:last-child {
    margin-bottom: 0;
}

.product p b {
    font-weight: bold;
    color: #007BFF;
}


